.board {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;

  &--disabled::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}