.tile {
  display: flex;
  box-sizing: border-box;
  border-radius: 4px;
  background: #efefef;
  box-shadow: 1px 0px 1px rgba(#000000, 0);
  border: 1px solid #bfdaef;
  cursor: pointer;

  &::after {
    content: '?';
    font-size: 2rem;
    position: absolute;
    transition: all 0.2s ease-in-out;
    top: 50%;
    left: 50%;
    color: rgba(#777, 0.3);
    transform: translate(-50%, -50%);
  }

  &:hover {
    box-shadow: 1px 1px 2px rgba(#000000, 0.16);
  }

  &:hover::after {
    color: rgba(#777, 1.0);
  }

  &--filled {
    border: none;
    background-image: radial-gradient(circle farthest-side at center top, #47a9ff 0%, #bfdaef 100%);
    &::after {
      content: '';
    }
  }

  &--wrong {
    background: white;
    &::after {
      content: '';
    }
  }
}
